DJANGO_SECRET_KEY = "a_generated_secure_key"

DB_HOST = "db_hostname, or delete line if you want to default to localhost"
DB_NAME = "your_database_name"
DB_USER = "your_db_username"
DB_PORT = 5432
DB_PASSWORD = "your_password"

DB_HOST_LOCAL = "db_hostname, or delete line if you want to default to localhost"
DB_NAME_LOCAL = "your_database_name"
DB_USER_LOCAL = "your_db_username"
DB_PORT_LOCAL = 5432
DB_PASSWORD_LOCAL = "your_password"

DB_HOST_DEPLOYED = "your_deployed_hostname"
DB_NAME_DEPLOYEDL = "your_deployed_database_name"
DB_USER_DEPLOYED = "your_deployed_db_username"
DB_PORT_DEPLOYED = 5432
DB_PASSWORD_DEPLOYED = "your_deployed_password"

